---
import { Icon } from 'astro-icon';
interface Item {
  name?: string;
  description?: string;
  icon?: string;
}
export interface Props {
  title?: string;
  items?: Array<Item>;
  image?: string | any;
}
const {
  title = await Astro.slots.render('title'),
  items = [],
} = Astro.props;
---

<section id="faq" class:list={['px-4 pb-16 sm:px-6 mx-auto lg:px-8 lg:pb-20 max-w-6xl opacity-0 transition-all duration-1000 ease-out obsSection translate-y-10 snap-start']}>
  <div class="max-w-7xl sm:mx-auto">
    {
      (title) && (
        <div class=" md:mx-auto text-left md:mb-6">
          {title && (
            <h2
              class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading text-textcolor"
              set:html={title}
            />
          )}
        </div>
      )
    }
  </div>

  <div class="mx-auto max-w-7xl divide-y divide-solid divide-slate-500">
    {items.map(({ name, description, icon }, index) => (
      <details class="self-center w-full flex items-middle h-fit py-2" key={index}>
        <summary class="cursor-pointer list-none py-2">
          <div class="flex justify-between items-center">
            {name && <p class="text-justify text-xl font-bold text-textcolor" set:html={name} />}
            <div class="flex-shrink-0">
              <Icon name={icon ? icon : 'tabler:chevron-down'} class="w-8 h-8" />
            </div>
          </div>
        </summary>
        {
          (description) && (
            <div>
              <p
                class="py-2 text-muted"
                set:html={description}
              />
            </div>
          )
        }
      </details>
    ))}
  </div>
</section>