---
import { Icon } from 'astro-icon';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

export interface Props {
  socialLinks: Array<Link>;
}

const { socialLinks = [] } = Astro.props;
---

<footer class:list={['relative']}>
  <div class="relative w-full mt-10">
    <div class="overflow-hidden">
      <div class="w-[102%] md:w-[101%] h-20 md:h-28 rounded-tr-full bg-[#3644DF] border-[#2B2B3C] border-t-8 border-r-8 flex items-center">
        <h3 class="text-xl font-bold tracking-tight pl-4 sm:text-2xl md:mx-auto">Real-time HIVE Signals</h3>
      </div>
      <div class="bg-[#3644DF]">
        <div class="w-[102%] md:w-[101%] h-20 md:h-28 rounded-tr-full bg-[#EA3382] border-[#2B2B3C] border-t-8 border-r-8 flex items-center">
          <h3 class="text-xl font-bold tracking-tight pl-4 sm:text-2xl md:mx-auto">One-Click Portfolio Trading</h3>
        </div>
      </div>
       <div class="bg-[#EA3382]">
        <div class="w-[102%] md:w-[101%] h-20 md:h-28 rounded-tr-full bg-[#7721D6] border-[#2B2B3C] border-t-8 border-r-8 flex items-center">
          <h3 class="text-xl font-bold tracking-tight pl-4 sm:text-2xl md:mx-auto">Risk Disclaimer</h3>
        </div>
      </div> 
      <div class="bg-[#7721D6]">
        <div class="w-[102%] md:w-[101%] h-20 md:h-28 rounded-tr-full bg-primary border-[#2B2B3C] border-t-8 border-r-8"></div>
      </div>
    </div>

    <div class="flex items-center justify-center flex-col">
      <h2 class="text-xl font-bold tracking-tight sm:text-2xl">Follow Us</h2>
      {
        socialLinks?.length ? (
          <ul class="flex mb-4 md:order-1">
            {socialLinks.map(({ ariaLabel, href, text, icon }) => (
              <li>
                <a
                  class="text-muted rounded-lg text-sm p-2.5 inline-flex items-center"
                  aria-label={ariaLabel}
                  href={href}
                >
                  {icon && <Icon name={icon} class="w-5 h-5" />}
                  <Fragment set:html={text} />
                </a>
              </li>
            ))}
          </ul>
        ) : (
          ''
        )
      }
    </div>
  </div>
</footer>
