---
import { Icon } from 'astro-icon';

---

<section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-6xl flex flex-col md:grid md:grid-cols-2 gap-20">
    <div>*temp placeholder*</div>
    <div class="flex flex-col gap-4 items-center md:items-start text-center md:text-left">
        <h2 class="text-5xl font-bold">Global <br><span class="text-transparent bg-clip-text bg-gradient-to-br from-accent via-gradient to-secondary">Market Access</span></h2>
        <p class="font-main text-lg text-textcolor">Access over 150 crypto exchanges worldwide, monitor market trends, and  safeguard your investments, ensuring you can seize global opportunities as they arise.</p>
        <div class="w-fit h-fit p-0.5 bg-gradient-to-br from-accent via-gradient to-secondary rounded-full mt-4">
            <button class="text-textcolor font-main py-2 px-4 gap-4 bg-primary rounded-full text-lg flex flex-row w-fit text-nowrap">Join our Waiting List <Icon name={'tabler:chevron-right'} class="w-6 h-6 my-auto"/></button>
        </div>
    </div>
</section>

