---
import { Icon } from 'astro-icon';
import EmailModal from '~/components/widgets/EmailModal.astro';

export interface Props {
  title?: string;
  content?: string;
  subtitle?: string;
  image?: string | any; // TODO: find HTMLElementProps
}

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  content = await Astro.slots.render('content'),
} = Astro.props;
---

<section class="relative h-fit overflow-x-hidden">
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
    <div class="pt-9 my-24 lg:my-32 relative">
      <div class="text-center max-w-screen-lg mx-auto flex flex-col justify-center items-center">
        {
          title && (
            <h1
              class="text-5xl md:text-6xl font-black leading-[1.15] md:leading-snug tracking-tighter pb-4 text-transparent bg-clip-text bg-gradient-to-b from-[#e4e5e7] to-[#7b7b7e] relative w-fit h-fit"
              set:html={title}
            />
          )
        }

        <div class="max-w-3xl mx-auto">
          {subtitle && <p class="text-xl text-muted mx-6 tracking-wide leading-snug md:mx-12 my-2 text-textcolor font-main lg:text-nowrap" set:html={subtitle} />}
          <div class="max-w-xs sm:max-w-md m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
          </div>
        </div>
        {content && <Fragment set:html={content} />}
      </div>
      <EmailModal />
      <!-- <div class="w-full grid place-content-center mt-6">
        <div class=" relative group">
          <div class="w-fit h-fit p-0.5 bg-gradient-to-br from-accent via-gradient to-secondary rounded-full mx-auto md:mx-0">
            <button class="text-textcolor font-main py-2 px-4 gap-4 bg-primary rounded-full text-lg flex flex-row w-fit text-nowrap">Join our Waiting List <Icon name={'tabler:chevron-right'} class="w-6 h-6 my-auto"/></button>
          </div>
          <div class="-z-50 opacity-25 w-fit h-fit p-0.5 bg-gradient-to-br from-accent via-gradient to-secondary rounded-full mx-auto md:mx-0 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 blur-lg scale-95 group-hover:scale-105 group-hover:motion-safe:animate-pulse duration-500">
            <button class="text-textcolor font-main py-2 px-4 gap-4 rounded-full text-lg flex flex-row w-fit text-nowrap">Join our Waiting List <Icon name={'tabler:chevron-right'} class="w-6 h-6 my-auto"/></button>
          </div>
        </div>
      </div> -->
      
      
      

      
    </div>
  </div>
</section>
