---
import { Image } from 'astro:assets';
import Earth from '~/assets/images/Earth.png';

export interface Props {
  title?: string;
  content?: string;
  subtitle?: string;
  image?: string | any; // TODO: find HTMLElementProps
}

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  content = await Astro.slots.render('content'),
} = Astro.props;
---

<section class="relative h-fit">
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
    <div class="pt-9 mb-4 lg:mb-20 relative">
      <div class="text-center max-w-screen-lg mx-auto">
        {
          title && (
            <h1
              class="text-4xl md:text-4xl font-black leading-snug tracking-tighter mb-6 font-heading text-textcolor"
              set:html={title}
            />
          )
        }

        <div class="max-w-3xl mx-auto">
          {subtitle && <p class="text-lg text-muted mx-6 tracking-wide leading-snug md:mx-12 my-2 text-textcolor" set:html={subtitle} />}
          <div class="max-w-xs sm:max-w-md m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
          </div>
        </div>
        {content && <Fragment set:html={content} />}
      </div>
      <Image class="absolute top-72 scale-150 -z-50 md:top-0 md:scale-100 left-1/2 transform -translate-x-1/2" src={Earth} alt="Planet earth" />
      
    </div>
  </div>
</section>
