---
import Cards from '~/components/widgets/Cards.jsx';
import LandingChart from '~/components/widgets/LandingChart.jsx'
import History from '~/components/widgets/History.jsx'
---
<div class="mx-4">
    <div
      id="content"
      class="mx-auto max-w-6xl p-4 my-12 flex flex-wrap gap-4 border border-white/5 rounded-xl bg-primary backdrop-blur-xl shadow-2xl shadow-[#8a14f6]/20"
      style="transform: rotateX(30deg);"
    >
      <Cards client:load />
      <div class="w-full flex flex-col md:flex-row gap-4 -z-50">
        <div class="w-full md:w-3/5 p-px bg-gradient-to-br from-[#6A6A9B] to-[#100F1D] rounded-lg -z-40">
          <div class="backdrop-blur-xl rounded-lg text-textcolor p-4 md:p-6 relative overflow-clip bg-primary -z-20 h-full">
            <h2 class="md:text-sm tracking-wide pb-4 font-main">Recent Trades</h2>
            <div class="absolute w-32 h-96 rotate-45 -top-20 -left-20 bg-accent blur-3xl rounded-full -z-10 opacity-30"></div>
            <div class="absolute w-32 h-96 rotate-45 top-0 right-10 bg-accent blur-3xl rounded-full -z-10 opacity-30"></div>
            <div class="my-auto">
              <LandingChart client:load />
            </div>
          </div>
        </div>
        <History client:load />
      </div>
    </div>
  </div>
  
  <script>
    const content = document.getElementById('content');
    const triggerThreshold = 0.5;
  
    window.addEventListener('scroll', function() {
      const contentRect = content.getBoundingClientRect();
      const windowHeight = window.innerHeight;
      const contentBottom = contentRect.bottom + window.scrollY;
  
      const triggerPoint = windowHeight - (windowHeight * triggerThreshold);
  
      if (contentBottom > triggerPoint) {
        content.style.transition = 'transform 0.5s ease-out';
        setTimeout(() => {
          content.style.transform = 'rotateX(0deg)';
        }, 400);
      }
    });
  </script>

