---
import Cards from '~/components/widgets/Cards.jsx';
import LandingChart from '~/components/widgets/LandingChart.jsx'
import History from '~/components/widgets/History.jsx'
---

<div class="px-6 mx-auto max-w-6xl lg:px-8 my-12 flex flex-wrap gap-4">
    <Cards client:load />
    <div class="w-full flex flex-row gap-4">
        <div class="w-3/5 bg-white rounded-lg text-textdark p-6 border border-textdark shadow-xl">
            <h2 class="text-sm tracking-wide pb-4">Recent Trades</h2>
            <div class="my-auto">
                <LandingChart client:load />
            </div>
        </div>
        <History client:load />
    </div>
    
</div>

