---
export interface Props {
  label?: string;
  class?: string;
}

const {
  label = 'Leaderboard Tabs',
  class:
    className = 'inline-block px-3 py-1 rounded-lg last:ml-2 text-textcolor w-20 text-center',
} = Astro.props;
---

<div class="flex flex-row w-full justify-center h-16 items-center z-[999]">
    <button type="button" id="tabTop" class={className} aria-label={label} data-aw-toggle-tab2>Top</button>
    <button type="button" id="tabWorst" class={className} aria-label={label} data-aw-toggle-tab2>Worst</button>
</div>

<script>
    const tabTop = document.getElementById('tabTop');
    const tabWorst = document.getElementById('tabWorst');
    tabTop.classList.add('bg-[#e6e6e7]');
    tabTop.classList.remove('text-textcolor');
    tabTop.classList.add('text-primary');

    tabTop.addEventListener('click', function() {
    if (tabTop.classList.contains('active')) {
        return;
    }
    const activeButton = document.querySelector('[data-aw-toggle-tab2].active');
    if (activeButton) {
        activeButton.classList.remove('active');
    }
    tabTop.classList.add('active');

    const topContent = document.getElementById('top');
    const worstContent = document.getElementById('worst');

    tabWorst.classList.remove('bg-[#e6e6e7]');
    tabWorst.classList.remove('text-primary');
    tabTop.classList.add('bg-[#e6e6e7]');
    tabTop.classList.add('text-primary');
    topContent.classList.remove('hidden');
    worstContent.classList.add('hidden');
    });

    tabWorst.addEventListener('click', function() {
    if (tabWorst.classList.contains('active')) {
        return;
    }
    const activeButton = document.querySelector('[data-aw-toggle-tab2].active');
    if (activeButton) {
        activeButton.classList.remove('active');
    }
    tabWorst.classList.add('active');

    const topContent = document.getElementById('top');
    const worstContent = document.getElementById('worst');

    tabTop.classList.remove('bg-[#e6e6e7]');
    tabTop.classList.remove('text-primary');
    tabWorst.classList.add('bg-[#e6e6e7]');
    tabWorst.classList.remove('text-textcolor');
    tabWorst.classList.add('text-primary');
    topContent.classList.add('hidden');
    worstContent.classList.remove('hidden');
    });
</script>