---
// import { Icon } from 'astro-icon';

// interface Item {
//   description?: string;
//   icon?: string;
// }

// export interface Props {
//   title?: string;
//   progress?: string;
//   progresspercentage?: string;
//   icon?: string;
//   description?: string;
//   statname?:string;
//   statnum?:string;
//   items?: Array<Item>;
// }

// const {
//   title = await Astro.slots.render('title'),
//   content = await Astro.slots.render('content'),
//   items = [],
// } = Astro.props;
---

<div>
    
</div>