---
interface Item {
  currency?: string;
  currency2?: string;
  value?: string;
}
export interface Props {
  items: Array<Array<Item>>;
}
const {
  items = [],
} = Astro.props;
---

<section class="mx-auto max-w-6xl lg:px-8 lg:py-3" id="Listing">
  <div class="max-w-md lg:max-w-lg mx-auto">
    {
      items.map((subitems) => (
        <div class="">
          {subitems.map(({ currency, currency2, value }) => (
            <div class="flex flex-row border-2 border-[#4B4B63] rounded-lg py-3 items-center px-7 mb-2">
                <div class="flex flex-row justify-between w-full">
                  <div class="flex flex-row">
                    <p class="text-lg" set:html={currency} />
                    <p class="text-lg mx-2"> • </p>
                    <p class="text-lg" set:html={currency2} />
                  </div>
                  <p class="text-lg" set:html={value} />
                </div>
            </div>
          ))}
        </div>
      ))
    }
  </div>
</section>