---
import { Image } from "astro:assets";
import map from "~/assets/images/Map.png";
---
    <div class="max-w-6xl px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 md:h-screen relative flex flex-col md:flex-row align-bottom md:mb-32">
        <Image class={"md:absolute md:top-0 opacity-30 -z-10"} src={map} alt="World map"/>
        <div class="md:mt-auto mb-20">
            <h1 class="text-2xl md:text-3xl font-bold w-full md:w-1/3 mb-6">24/7 Global Support Model for a 24/7 Market </h1>
            <p class="w-full md:w-1/3">FinGen utilizes our global footprint across 8 regional hubs to ensure portfolio trading, risk management, and operations are effective and accessible irrespective of time zone, 24/7, 365 days per year, in line with the global capital markets. Inflation never sleeps. Neither does FinGen.</p>    
        </div>
    </div>