---
import { Icon } from 'astro-icon';

interface Item {
  name?: string;
  value?: string;
  down?: string;
  up?: string;
}
export interface Props {
  title?: string;
  items: Array<Array<Item>>;
}
const {
  title = await Astro.slots.render('title'),
  items = [],
} = Astro.props;
---

<section class="mx-auto max-w-6xl" id="MarketIntel">
  <div class="max-w-md lg:max-w-lg mx-auto md:rounded-lg md:p-4 md:bg-[#191931]">

    {
      title && (
        <h2
          class="text-2xl mb-6 md:mb-4 text-center font-bold"
          set:html={title}
        />
      )
    }

    <div class="flex flex-col rounded-lg h-fit overflow-scroll mb-4 md:mb-0 bg-[#0F0F18] md:bg-[#191931]">
        {
            items.map((subitems) => (
                <div class="divide-y divide-[#1C1C24] md:divide-y-0">
                    {subitems.map(({ name, value, down, up }) => (
                        <div class="flex flex-row py-2 items-center px-4 ">
                            <div class="flex flex-row justify-between w-full ">
                                <p class="text-lg" set:html={name} />
                                
                                <div class="text-lg flex flex-row items-center">
                                    <p set:html={value} />
                                    {up && (
                                        <Icon name="ArrowUp" class="ml-2 w-3 h-3"/>
                                    )}
                                    {down && (
                                        <Icon name="ArrowDown" class="ml-2 w-3 h-3"/>
                                    )}
                                </div>
                            </div>
                        </div>
                    ))}
              </div>
            ))
        }
    </div>
    
  </div>
</section>