---
import { Icon } from 'astro-icon';
---
<div class="w-full relative overflow-hidden bg-primary/95 backdrop-blur-3xl backdrop-brightness-75">
    <section class="px-4 py-24 sm:px-6 mx-auto lg:px-8 max-w-xl z-20">
        <h1 class="z-30 text-4xl md:text-4xl font-black leading-snug tracking-tighter mb-8 font-heading text-textcolor text-center">Subscribe to our<br>monthly newsletter</h1>
        <form class="flex gap-4 justify-center align-middle z-30" action="">
            <input type="email" name="email"  class="z-30 w-full bg-transparent block border-y py-4 text-textcolor placeholder:text-muted placeholder:mx-2 focus:ring-0 sm:text-sm sm:leading-6" placeholder="YOUR EMAIL">
            <a href="" class="z-30 grid place-content-center"><Icon name={'tabler:chevron-right'} class="w-8 h-8 my-auto" /></a>
        </form>
    </section>
</div>


