---

---
<div class="w-full bg-primary">
    <section class="px-4 py-32 sm:px-6 mx-auto lg:px-8 max-w-6xl">
        <h1 class="text-4xl md:text-4xl font-black leading-snug tracking-tighter mb-6 font-heading text-textcolor text-center">Ready to get started?</h1>
        <div class="flex flex-col md:flex-row w-full gap-4 justify-center">
            <div class="px-4 rounded-md bg-white flex-grow-1 w-full flex justify-center">
                <input type="email" name="email"  class="w-full block rounded-md border-0 py-3 text-textcolor placeholder:text-muted placeholder:mx-2 focus:ring-0 sm:text-sm sm:leading-6" placeholder="Enter your email address">
            </div>
           <button class="px-4 py-3 bg-secondary font-bold text-textdark rounded-md flex-shrink-0 hover:bg-yellow-300">Get the latest trading news</button>
        </div>
    </section>
</div>


