---

---

<section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-6xl">
    <div class="w-full rounded-[32px] md:rounded-[64px] bg-gradient-to-br from-bluegradient to-gradient py-16 md:py-24 flex-col justify-center">
        <h1 class="text-5xl md:text-6xl font-bold text-center pb-6">Your Future in Trading<br>Begins Here</h1>
        <p class="font-main font-normal text-xl text-center mx-8 md:mx-32 ">Don't miss your chance to be part of this revolutionary shift in trading.<br>Join our waiting list to secure your $1 trial. With FinGen, you're not just trading, you're leading the way in the future of finance.</p>
        <div class="w-full grid place-content-center">
            <button class="font-main text-lg px-8 py-3 bg-secondary rounded-full text-textdark text-center mt-10">Start your journey</button>
        </div>
    </div>
</section>


