<section>
  <h1 class="text-2xl font-bold text-center">Stats</h1>
  <div class="flex space-x-4 justify-center my-4">
    <button class="btn inline-block px-3 py-1 rounded-lg ml-2 first:ml-0 text-textcolor w-20 text-center border-0" data-duration="1W">1W</button>
    <button class="btn inline-block px-3 py-1 rounded-lg ml-2 first:ml-0 text-textcolor w-20 text-center border-0" data-duration="1M">1M</button>
    <button class="btn inline-block px-3 py-1 rounded-lg ml-2 first:ml-0 text-textcolor w-20 text-center border-0" data-duration="3M">3M</button>
    <button class="btn inline-block px-3 py-1 rounded-lg ml-2 first:ml-0 text-textcolor w-20 text-center border-0" data-duration="6M">6M</button>
    <button class="btn inline-block px-3 py-1 rounded-lg ml-2 first:ml-0 text-textcolor w-20 text-center border-0" data-duration="1Y">1Y</button>
  </div>

  <div class="flex flex-col place-content-between gap-4 p-4 border-2 border-[#7348BB] shadow-purple rounded-lg">
    <div class="inline-flex w-full justify-between">
      <h2 class="text-lg font-semibold pl-4">PAIRS</h2>
      <select id="category" class="select text-white bg-[#0F0F18] uppercase hover:bg-accent focus:outline-none font-bold tracking-wide rounded-lg px-4 py-2 text-center inline-flex items-center">
        <option value="EDGE">EDGE</option>
        <option value="AW%">AW%</option>
        <option value="AL%">AL%</option>
        <option value="ACC">ACC</option>
        <option value="LIKELIHOOD">LIKELIHOOD</option>
      </select>
    </div>
    <div class="rounded-lg overflow-scroll h-52 md:h-[500px]">
      <div class="w-full flex-col bg-[#0F0F18]" id="data-container">
        <!-- Data -->
      </div>
    </div>
  </div>
</section>

<script>
  const btns = document.querySelectorAll('.btn');
  const categorySelect = document.getElementById('category');
  const dataContainer = document.getElementById('data-container');
  const data = {
    '1W': {
      EDGE: [
        'Data for Pairs 1 - EDGE 1',
        'Data for Pairs 2 - EDGE 2',
        'Data for Pairs 3 - EDGE 3',
        'Data for Pairs 1 - EDGE 1',
        'Data for Pairs 2 - EDGE 2',
        'Data for Pairs 3 - EDGE 3',
        'Data for Pairs 1 - EDGE 1',
        'Data for Pairs 2 - EDGE 2',
        'Data for Pairs 3 - EDGE 3',
      ],
      'AW%': [
        'Data for Pairs 1 - AW% 1',
        'Data for Pairs 2 - AW% 2',
        'Data for Pairs 3 - AW% 3',
        'Data for Pairs 1 - AW% 1',
        'Data for Pairs 2 - AW% 2',
        'Data for Pairs 3 - AW% 3',
        'Data for Pairs 1 - AW% 1',
        'Data for Pairs 2 - AW% 2',
        'Data for Pairs 3 - AW% 3',
      ],
      'AL%': [
        'Data for Pairs 1 - AL% 1',
        'Data for Pairs 2 - AL% 2',
        'Data for Pairs 3 - AL% 3',
        'Data for Pairs 1 - AL% 1',
        'Data for Pairs 2 - AL% 2',
        'Data for Pairs 3 - AL% 3',
        'Data for Pairs 1 - AL% 1',
        'Data for Pairs 2 - AL% 2',
        'Data for Pairs 3 - AL% 3',
      ],
      ACC: [
        'Data for Pairs 1 - ACC 1',
        'Data for Pairs 2 - ACC 2',
        'Data for Pairs 3 - ACC 3',
        'Data for Pairs 1 - ACC 1',
        'Data for Pairs 2 - ACC 2',
        'Data for Pairs 3 - ACC 3',
        'Data for Pairs 1 - ACC 1',
        'Data for Pairs 2 - ACC 2',
        'Data for Pairs 3 - ACC 3',
      ],
      LIKELIHOOD: [
        'Data for Pairs 1 - LIKELIHOOD 1',
        'Data for Pairs 2 - LIKELIHOOD 2',
        'Data for Pairs 3 - LIKELIHOOD 3',
        'Data for Pairs 1 - LIKELIHOOD 1',
        'Data for Pairs 2 - LIKELIHOOD 2',
        'Data for Pairs 3 - LIKELIHOOD 3',
        'Data for Pairs 1 - LIKELIHOOD 1',
        'Data for Pairs 2 - LIKELIHOOD 2',
        'Data for Pairs 3 - LIKELIHOOD 3',
      ],
    },
    '1M': {
      EDGE: [
        'Data for Pairs 1 - EDGE 1 1M',
        'Data for Pairs 2 - EDGE 2 1M',
        'Data for Pairs 3 - EDGE 3 1M',
        'Data for Pairs 1 - EDGE 1 1M',
        'Data for Pairs 2 - EDGE 2 1M',
        'Data for Pairs 3 - EDGE 3 1M',
        'Data for Pairs 1 - EDGE 1 1M',
        'Data for Pairs 2 - EDGE 2 1M',
        'Data for Pairs 3 - EDGE 3 1M',
      ],
      'AW%': [
        'Data for Pairs 1 - AW% 1 1M',
        'Data for Pairs 2 - AW% 2 1M',
        'Data for Pairs 3 - AW% 3 1M',
        'Data for Pairs 1 - AW% 1 1M',
        'Data for Pairs 2 - AW% 2 1M',
        'Data for Pairs 3 - AW% 3 1M',
        'Data for Pairs 1 - AW% 1 1M',
        'Data for Pairs 2 - AW% 2 1M',
        'Data for Pairs 3 - AW% 3 1M',
      ],
      'AL%': [
        'Data for Pairs 1 - AL% 1 1M',
        'Data for Pairs 2 - AL% 2 1M',
        'Data for Pairs 3 - AL% 3 1M',
        'Data for Pairs 1 - AL% 1 1M',
        'Data for Pairs 2 - AL% 2 1M',
        'Data for Pairs 3 - AL% 3 1M',
        'Data for Pairs 1 - AL% 1 1M',
        'Data for Pairs 2 - AL% 2 1M',
        'Data for Pairs 3 - AL% 3 1M',
      ],
      ACC: [
        'Data for Pairs 1 - ACC 1 1M',
        'Data for Pairs 2 - ACC 2 1M',
        'Data for Pairs 3 - ACC 3 1M',
        'Data for Pairs 1 - ACC 1 1M',
        'Data for Pairs 2 - ACC 2 1M',
        'Data for Pairs 3 - ACC 3 1M',
        'Data for Pairs 1 - ACC 1 1M',
        'Data for Pairs 2 - ACC 2 1M',
        'Data for Pairs 3 - ACC 3 1M',
      ],
      LIKELIHOOD: [
        'Data for Pairs 1 - LIKELIHOOD 1 1M',
        'Data for Pairs 2 - LIKELIHOOD 2 1M',
        'Data for Pairs 3 - LIKELIHOOD 3 1M',
        'Data for Pairs 1 - LIKELIHOOD 1 1M',
        'Data for Pairs 2 - LIKELIHOOD 2 1M',
        'Data for Pairs 3 - LIKELIHOOD 3 1M',
        'Data for Pairs 1 - LIKELIHOOD 1 1M',
        'Data for Pairs 2 - LIKELIHOOD 2 1M',
        'Data for Pairs 3 - LIKELIHOOD 3 1M',
      ],
    },
    '3M': {
      EDGE: [
        'Data for Pairs 1 - EDGE 1 3M',
        'Data for Pairs 2 - EDGE 2 3M',
        'Data for Pairs 3 - EDGE 3 3M',
        'Data for Pairs 1 - EDGE 1 3M',
        'Data for Pairs 2 - EDGE 2 3M',
        'Data for Pairs 3 - EDGE 3 3M',
        'Data for Pairs 1 - EDGE 1 3M',
        'Data for Pairs 2 - EDGE 2 3M',
        'Data for Pairs 3 - EDGE 3 3M',
      ],
      'AW%': [
        'Data for Pairs 1 - AW% 1 3M',
        'Data for Pairs 2 - AW% 2 3M',
        'Data for Pairs 3 - AW% 3 3M',
        'Data for Pairs 1 - AW% 1 3M',
        'Data for Pairs 2 - AW% 2 3M',
        'Data for Pairs 3 - AW% 3 3M',
        'Data for Pairs 1 - AW% 1 3M',
        'Data for Pairs 2 - AW% 2 3M',
        'Data for Pairs 3 - AW% 3 3M',
      ],
      'AL%': [
        'Data for Pairs 1 - AL% 1 3M',
        'Data for Pairs 2 - AL% 2 3M',
        'Data for Pairs 3 - AL% 3 3M',
        'Data for Pairs 1 - AL% 1 3M',
        'Data for Pairs 2 - AL% 2 3M',
        'Data for Pairs 3 - AL% 3 3M',
        'Data for Pairs 1 - AL% 1 3M',
        'Data for Pairs 2 - AL% 2 3M',
        'Data for Pairs 3 - AL% 3 3M',
      ],
      ACC: [
        'Data for Pairs 1 - ACC 1 3M',
        'Data for Pairs 2 - ACC 2 3M',
        'Data for Pairs 3 - ACC 3 3M',
        'Data for Pairs 1 - ACC 1 3M',
        'Data for Pairs 2 - ACC 2 3M',
        'Data for Pairs 3 - ACC 3 3M',
        'Data for Pairs 1 - ACC 1 3M',
        'Data for Pairs 2 - ACC 2 3M',
        'Data for Pairs 3 - ACC 3 3M',
      ],
      LIKELIHOOD: [
        'Data for Pairs 1 - LIKELIHOOD 1 3M',
        'Data for Pairs 2 - LIKELIHOOD 2 3M',
        'Data for Pairs 3 - LIKELIHOOD 3 3M',
        'Data for Pairs 1 - LIKELIHOOD 1 3M',
        'Data for Pairs 2 - LIKELIHOOD 2 3M',
        'Data for Pairs 3 - LIKELIHOOD 3 3M',
        'Data for Pairs 1 - LIKELIHOOD 1 3M',
        'Data for Pairs 2 - LIKELIHOOD 2 3M',
        'Data for Pairs 3 - LIKELIHOOD 3 3M',
      ],
    },
    '6M': {
      EDGE: [
        'Data for Pairs 1 - EDGE 1 6M',
        'Data for Pairs 2 - EDGE 2 6M',
        'Data for Pairs 3 - EDGE 3 6M',
        'Data for Pairs 1 - EDGE 1 6M',
        'Data for Pairs 2 - EDGE 2 6M',
        'Data for Pairs 3 - EDGE 3 6M',
        'Data for Pairs 1 - EDGE 1 6M',
        'Data for Pairs 2 - EDGE 2 6M',
        'Data for Pairs 3 - EDGE 3 6M',
      ],
      'AW%': [
        'Data for Pairs 1 - AW% 1 6M',
        'Data for Pairs 2 - AW% 2 6M',
        'Data for Pairs 3 - AW% 3 6M',
        'Data for Pairs 1 - AW% 1 6M',
        'Data for Pairs 2 - AW% 2 6M',
        'Data for Pairs 3 - AW% 3 6M',
        'Data for Pairs 1 - AW% 1 6M',
        'Data for Pairs 2 - AW% 2 6M',
        'Data for Pairs 3 - AW% 3 6M',
      ],
      'AL%': [
        'Data for Pairs 1 - AL% 1 6M',
        'Data for Pairs 2 - AL% 2 6M',
        'Data for Pairs 3 - AL% 3 6M',
        'Data for Pairs 1 - AL% 1 6M',
        'Data for Pairs 2 - AL% 2 6M',
        'Data for Pairs 3 - AL% 3 6M',
        'Data for Pairs 1 - AL% 1 6M',
        'Data for Pairs 2 - AL% 2 6M',
        'Data for Pairs 3 - AL% 3 6M',
      ],
      ACC: [
        'Data for Pairs 1 - ACC 1 6M',
        'Data for Pairs 2 - ACC 2 6M',
        'Data for Pairs 3 - ACC 3 6M',
        'Data for Pairs 1 - ACC 1 6M',
        'Data for Pairs 2 - ACC 2 6M',
        'Data for Pairs 3 - ACC 3 6M',
        'Data for Pairs 1 - ACC 1 6M',
        'Data for Pairs 2 - ACC 2 6M',
        'Data for Pairs 3 - ACC 3 6M',
      ],
      LIKELIHOOD: [
        'Data for Pairs 1 - LIKELIHOOD 1 6M',
        'Data for Pairs 2 - LIKELIHOOD 2 6M',
        'Data for Pairs 3 - LIKELIHOOD 3 6M',
        'Data for Pairs 1 - LIKELIHOOD 1 6M',
        'Data for Pairs 2 - LIKELIHOOD 2 6M',
        'Data for Pairs 3 - LIKELIHOOD 3 6M',
        'Data for Pairs 1 - LIKELIHOOD 1 6M',
        'Data for Pairs 2 - LIKELIHOOD 2 6M',
        'Data for Pairs 3 - LIKELIHOOD 3 6M',
      ],
    },
    '1Y': {
      EDGE: [
        'Data for Pairs 1 - EDGE 1 1Y',
        'Data for Pairs 2 - EDGE 2 1Y',
        'Data for Pairs 3 - EDGE 3 1Y',
        'Data for Pairs 1 - EDGE 1 1Y',
        'Data for Pairs 2 - EDGE 2 1Y',
        'Data for Pairs 3 - EDGE 3 1Y',
        'Data for Pairs 1 - EDGE 1 1Y',
        'Data for Pairs 2 - EDGE 2 1Y',
        'Data for Pairs 3 - EDGE 3 1Y',
      ],
      'AW%': [
        'Data for Pairs 1 - AW% 1 1Y',
        'Data for Pairs 2 - AW% 2 1Y',
        'Data for Pairs 3 - AW% 3 1Y',
        'Data for Pairs 1 - AW% 1 1Y',
        'Data for Pairs 2 - AW% 2 1Y',
        'Data for Pairs 3 - AW% 3 1Y',
        'Data for Pairs 1 - AW% 1 1Y',
        'Data for Pairs 2 - AW% 2 1Y',
        'Data for Pairs 3 - AW% 3 1Y',
      ],
      'AL%': [
        'Data for Pairs 1 - AL% 1 1Y',
        'Data for Pairs 2 - AL% 2 1Y',
        'Data for Pairs 3 - AL% 3 1Y',
        'Data for Pairs 1 - AL% 1 1Y',
        'Data for Pairs 2 - AL% 2 1Y',
        'Data for Pairs 3 - AL% 3 1Y',
        'Data for Pairs 1 - AL% 1 1Y',
        'Data for Pairs 2 - AL% 2 1Y',
        'Data for Pairs 3 - AL% 3 1Y',
      ],
      ACC: [
        'Data for Pairs 1 - ACC 1 1Y',
        'Data for Pairs 2 - ACC 2 1Y',
        'Data for Pairs 3 - ACC 3 1Y',
        'Data for Pairs 1 - ACC 1 1Y',
        'Data for Pairs 2 - ACC 2 1Y',
        'Data for Pairs 3 - ACC 3 1Y',
        'Data for Pairs 1 - ACC 1 1Y',
        'Data for Pairs 2 - ACC 2 1Y',
        'Data for Pairs 3 - ACC 3 1Y',
      ],
      LIKELIHOOD: [
        'Data for Pairs 1 - LIKELIHOOD 1 1Y',
        'Data for Pairs 2 - LIKELIHOOD 2 1Y',
        'Data for Pairs 3 - LIKELIHOOD 3 1Y',
        'Data for Pairs 4 - LIKELIHOOD 4 1Y',
        'Data for Pairs 5 - LIKELIHOOD 5 1Y',
        'Data for Pairs 6 - LIKELIHOOD 6 1Y',
        'Data for Pairs 7 - LIKELIHOOD 7 1Y',
        'Data for Pairs 8 - LIKELIHOOD 8 1Y',
        'Data for Pairs 9 - LIKELIHOOD 9 1Y',
      ],
    }
  };

  function updateData() {
    const duration = document.querySelector('.btn.active').dataset.duration;
    const category = categorySelect.value;
    const dataText = data[duration][category];

    dataContainer.innerHTML = '';

    if (Array.isArray(dataText)) {
      dataText.forEach(pairData => {
        const [pairs, categoryData] = pairData.split(' - ');
        const lineDiv = document.createElement('div');
        lineDiv.classList.add('data-line' , 'inline-flex', 'justify-between', 'w-full' , 'even:bg-[#26273B]', 'py-3', 'px-4');
        lineDiv.innerHTML = `
          <p class='uppercase text-lg'>${pairs}</p>
          <p class='uppercase text-lg'>${categoryData}</p>
        `;
        dataContainer.appendChild(lineDiv);
      });
    } else {
      const lineDiv = document.createElement('div');
      lineDiv.classList.add('data-line' , 'inline-flex', 'justify-between');
      lineDiv.innerHTML = `
        <p>${dataText}</p>
      `;
      dataContainer.appendChild(lineDiv);
    }
  }

  function handleButtonClick() {
    btns.forEach(btn => btn.classList.remove('active'));
    this.classList.add('active');
    updateData();
  }

  btns.forEach(btn => btn.addEventListener('click', handleButtonClick));
  categorySelect.addEventListener('change', updateData);

  btns[0].classList.add('active');
  updateData();
</script>
