---
import { Icon } from 'astro-icon';

interface Item {
  currency?: string;
  currency2?: string;
  date?: string;
  
}
export interface Props {
  lasttr?: string;
  items: Array<Array<Item>>;
}
const {
  lasttr = await Astro.slots.render('lasttr'),
  items = [],
} = Astro.props;
---

<section class="mx-auto max-w-6xl py-10 lg:px-8 lg:py-3 hidden" id="TradeHistory">
  <div class="max-w-md lg:max-w-lg mx-auto">
    {
        lasttr && (
            <div class="flex flex-row items-center justify-center text-sm gap-2 py-1 px-4 mx-auto mb-4 w-fit bg-white bg-opacity-10 backdrop-blur-md drop-shadow-xl rounded-full">
                <Icon name="Clock" class="w-5 h-5" />
                <p
                    set:html={lasttr}
                />
            </div>   
        )
    }
    {
      items.map((subitems) => (
        <div class="">
          {subitems.map(({ currency, currency2, date }) => (
            <div class="flex flex-row border border-[#4B4B63] rounded-lg py-3 items-center px-7 mb-2">
                <div class="flex flex-row justify-between w-full">
                  <div class="flex flex-row">
                    <p class="text-lg" set:html={currency} />
                    <p class="text-lg mx-2"> • </p>
                    <p class="text-lg" set:html={currency2} />
                  </div>
                  <p class="bg-[#1C1C24] border border-[#1C1C24] rounded-lg px-2" set:html={date} />
                </div>
            </div>
          ))}
        </div>
      ))
    }
  </div>
  <slot />
</section>