---
import { YouTube } from '@astro-community/astro-embed-youtube';

export interface Props {
  title?: string;
  content?: string;
  link?: string;
}
const {
  title = await Astro.slots.render('title'),
  content = await Astro.slots.render('title'),
  link = await Astro.slots.render('title'),
} = Astro.props;
---
<section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-6xl relative">
    <div class="flex flex-col md:grid md:grid-cols-2 gap-16">
        <div>
            {title && <p class="mb-8 text-justify text-3xl md:text-4xl font-bold tracking-tight" set:html={title} />}
            {content && <p class="text-justify leading-5 text-muted" set:html={content} />}
        </div>
        <YouTube id={link} />
    </div>

</section>

