---
import { YouTube } from '@astro-community/astro-embed-youtube';

export interface Props {
  title?: string;
  content?: string;
  link?: string;
}
const {
  title = await Astro.slots.render('title'),
  content = await Astro.slots.render('title'),
  link = await Astro.slots.render('title'),
} = Astro.props;
---
<section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-5xl">
    <div class="flex flex-col gap-16 align-middle justify-around">
        <div class="w-full">
            {title && <p class="mb-8 text-center text-3xl md:text-5xl font-bold tracking-tight text-transparent bg-clip-text bg-gradient-to-b from-[#e4e5e7] to-[#7b7b7e]" set:html={title} />}
            {content && <p class="text-center text-textcolor text-lg font-main font-medium" set:html={content} />}
        </div>
        <div class="w-full h-fit rouded-xl overflow-clip">
          <iframe class="w-full aspect-video" src="https://www.youtube.com/embed/tPZ7wjiM5yw?si=XEBrdT8a1CnOMbdE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</section>

