---
import { YouTube } from '@astro-community/astro-embed-youtube';

export interface Props {
  title?: string;
  content?: string;
  link?: string;
}
const {
  title = await Astro.slots.render('title'),
  content = await Astro.slots.render('title'),
  link = await Astro.slots.render('title'),
} = Astro.props;
---
<section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-6xl relative bg-primary/90 backdrop-blur-3xl">
    <div class="flex flex-col md:grid md:grid-cols-2 gap-16">
        <div>
            {title && <p class="mb-8 text-justify text-3xl md:text-4xl font-bold tracking-tight" set:html={title} />}
            {content && <p class="text-justify leading-5 text-muted" set:html={content} />}
        </div>
        <YouTube id={link} />
    </div>
    <div class="absolute -bottom-20 h-32 w-1/2 left-1/2 transform -translate-x-1/2 rounded-full bg-accent blur-3xl opacity-40 scale-150 -z-50"></div>
    <div class="absolute -bottom-10 h-16 w-96 left-1/2 transform -translate-x-1/2 rounded-full bg-white blur-xl opacity-20 -z-40"></div>
</section>

