---
import { Image } from 'astro:assets'

import Layout from '~/layouts/PageLayout.astro';
import AboutText from '~/components/widgets/About.astro';

const meta = {
  title: "About",
};
---

<Layout {meta}>
    <AboutText>
      <Fragment slot="headDescription">
        <p>FinGEN was founded in 2020 with a view to offer quant hedge fund technology and strategies to the every day investor/trader. Combining strengths in both Deep Learning and Ultra Low Latency Technology. <br><br>Quant trading is a style of automated trading characterized by microsecond execution speeds and portfolios with high turnover.</p>
      </Fragment>
        <Image src={import('../assets/images/AboutHero.svg')} alt="Leopard silhouette" />
    </AboutText>
</Layout>

