---
import Layout from '~/layouts/PageLayout.astro';
import Leaderboard from '~/components/widgets/Leaderboard.astro';
import MarketIntel from '~/components/widgets/MarketIntel.astro';
import Odds from '~/components/widgets/Odds.astro';
import LeaderboardTabs from '~/components/widgets/LeaderboardTabs.astro';
import ChartReturn from '~/components/widgets/ChartReturn.astro';
import Vami from '~/components/widgets/Vami.astro';
import MarketEdge from '~/components/widgets/MarketEdge.astro';
import StatsTest from '~/components/widgets/StatsTest.astro';

const meta = {
  title: "HIVE",
};
---

<Layout {meta}>
    <div class="flex flex-col md:grid md:grid-cols-4 gap-4 mx-4">
        <div class="col-span-1">

            <Leaderboard
            items={[
                [
                {
                    currency: 'USD',
                    currency2: 'CAD',
                    value: '1.35740',
                },
                {
                    currency: 'USD',
                    currency2: 'CAD',
                    value: '1.35740',
                },
                {
                    currency: 'USD',
                    currency2: 'CAD',
                    value: '1.35740',
                },
                {
                    currency: 'USD',
                    currency2: 'CAD',
                    value: '1.35740',
                },
                {
                    currency: 'USD',
                    currency2: 'CAD',
                    value: '1.35740',
                },
                ],
            ]}
            itemsWorst={[
                [
                {
                    currencyWorst: 'USD',
                    currencyWorst2: 'JPY',
                    valueWorst: '0.34020',
                },
                {
                    currencyWorst: 'USD',
                    currencyWorst2: 'JPY',
                    valueWorst: '0.34020',
                },
                {
                    currencyWorst: 'USD',
                    currencyWorst2: 'JPY',
                    valueWorst: '0.34020',
                },
                {
                    currencyWorst: 'USD',
                    currencyWorst2: 'JPY',
                    valueWorst: '0.34020',
                },
                {
                    currencyWorst: 'USD',
                    currencyWorst2: 'JPY',
                    valueWorst: '0.34020',
                },
                ],
            ]}
        >
            <LeaderboardTabs></LeaderboardTabs>
        </Leaderboard>

        <MarketIntel
        items={[
            [
            {
                name: 'Sortino',
                value: '2.65',
                down: 'ArrowDown',
            },
            {
                name: 'Alpha',
                value: '1.27',
                up: 'ArrowUp',
            },
            {
                name: 'Beta',
                value: '0.37',
                up: 'ArrowUp',
            },
            {
                name: 'Draw Down',
                value: '0.02',
                down: 'ArrowDown',
            },
            ],
        ]}
    >
        <Fragment slot="title">
            Market Intel LIVE
      </Fragment>
    </MarketIntel>
    
    </div>
        <div class="col-span-3 overflow-hidden">
            <StatsTest>

            </StatsTest>
    </div>
    <div class="col-span-4">
        <Odds
            items={[
                [
                {
                    currency: 'USD',
                    currency2: 'CAD',
                    value1: '22',
                    value2: '1',
                },
                {
                    currency: 'USD',
                    currency2: 'JPY',
                    value1: '3',
                    value2: '1',
                },
                {
                    currency: 'USD',
                    currency2: 'JPY',
                    value1: '3',
                    value2: '1',
                },
                {
                    currency: 'USD',
                    currency2: 'JPY',
                    value1: '3',
                    value2: '1',
                },
                {
                    currency: 'USD',
                    currency2: 'JPY',
                    value1: '3',
                    value2: '1',
                },
                {
                    currency: 'USD',
                    currency2: 'JPY',
                    value1: '3',
                    value2: '1',
                },
                {
                    currency: 'USD',
                    currency2: 'JPY',
                    value1: '3',
                    value2: '1',
                },
                ],
            ]}
        >
        </Odds>
        <div class="md:inline-flex w-full items-start justify-center gap-4">
            <div class="md:w-1/2">
                <ChartReturn
                    items={[
                        [
                        {
                            value: '10.67',
                            todayValue: '1.7',
                        },
                        ],
                    ]}
                ></ChartReturn>
            </div>
            <div class="md:w-1/2">
                <Vami></Vami>
            </div>
        </div>
        <div class="grid md:grid-cols-2">
            <MarketEdge 
                items={[
                    [
                    {
                        EDGE: '2109',
                        AvgW: '37',
                        AvgL: '27',
                        AvgWM: '553',
                        AvgLM: '153',
                    },
                    ],
                ]}>
            </MarketEdge>
            <form-widget ucid='3ry7DAh0RnnvdpHLXNtxabNpwlU'></form-widget>
        </div>
        
    </div>
    </div>
</Layout>