---
import { SITE } from '~/config.mjs';
import { Icon } from 'astro-icon';

import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---


<Layout {meta}>

  <Hero>
      <Fragment slot="title">
        Trading is Evolving
      </Fragment>

      <Fragment slot="trdButton">
        Trade
      </Fragment>

      <Fragment slot="title2">
        And the Machines <br>are Winning
      </Fragment>

      <Fragment slot="subtitle">
        We recognize machines are better at trade decision making than humans - there's no fear or greed.
      </Fragment>
  </Hero>

  <Features
    title="What is HIVE?"
    items={[
      [
        {
          description:
            'Swarms of machine learning agents, collectively sharing intel to rapidly adapt to evolving markets, and predict their futures.',
          icon: 'Go',
        },
        {
          description:
            "Machine Learning Agents (MLA) independently compute, analyze, and share agent learning with HIVE's collective learning, making all new and known knowledge available to every MLA and HIVE.",
          icon: 'Go',
        },
      ],
      [
        {
          description:
            'Winning trades should be predictably consistent in frequency and return. Including extreme highs and lows.',
          icon: 'Grow',
        },
        {
          description:
            'Losing trades are inevitable. But losing small is critical to your account balance growth potential.',
          icon: 'Stats',
        },
      ],
    ]}
  />

  <Steps
    title="Features"
    subtitle="HIVE Runs All Trading"
    items={[
      {
        title: 'Deep Reinforcement Learning',
        description:
          'The collective behavior of decentralized, self-organized systems, natural or artificial.',
        icon: 'PurpleDot',
      },
      {
        title: 'Robot Process Automation',
        description:
          'HIVE consumes market data Sunday at 5PM EST to Friday at 5PM EST.',
        icon: 'PurpleDot',
      },
      {
        title: 'Risk Reward Management',
        description:
          "Helping investors manage their risk of losing money on trades. Comparing profit to loss, every tick, in real-time, 24x7x252.<br><br>EDGE - Where WP is the asset's percentage of winning trades; LP is the asset's percentage of losing trades; WROl is the asset's average winning return on investment;<br><br>SORTINO - The Sortino Ratio is calculated as, where R is the asset or portfolio average realized return, T is the target or required rate of return for the investment strategy under consideration (originally called the minimum acceptable return MAR), and DD iS the target semi-deviation",
        icon: 'PurpleDot',
      },
      {
        title: 'Trade Size Management',
        description:
          "Trade position size is critical; more so than trading entry and exit. An optimal strategy will not remain solvent if trade size is too big or too small. Optimize for upside potential, and downside risk every trade.<br><br>KELLY CRITERION - Known as the scientific gambling method, is a formula for bet sizing that leads almost surely to higher wealth compared to any other strategy in the long run approaching the limit as the number of bets goes to infinity.",
        icon: 'PurpleDot',
      },
    ]}
  />

  <Content
    title="Benefits"
    items={[
      {
        description:
          'Know your likelihood of gain and loss. And how by how much, BEFORE you trade',
      },
      {
        description:
          'Click "Trade" and execute all pairs involved in a Portfolio Trade.',
      },
      {
        description:
          'OR click "Ignore" to ignore the signal',
      },
    ]}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">We've reduced human involvement to a One-Click Portfolio Trade</h3>
    </Fragment>

    <img class="h-3/4" src="src/assets/images/Vr.png">

  </Content>

  <Content
    isReversed
    isAfterContent
    items={[
      {
        description: 'We are electronically connected to numerous global banks to access the most accurate foreign exchange and CFD rates for our clients. Trade over 70 forex pairs.',
      },
    ]}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">Follow The Money</h3>
    </Fragment>

    <div class="grid gap-2 grid-cols-3 w-[400px] h-[300px]">
      <div class="block mt-auto">
        <div class="relative mb-3">
          <div class="block w-[6px] h-[105px] bg-textcolor mx-auto"></div>
          <div class="block w-[24px] h-[57px] bg-[#4855E2] absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"></div>
        </div>
        <h3 class="text-3xl font-bold tracking-tight mb-1">$200B</h3>
        <p class="text-xs font-normal tracking-widest mb-[-6px]">PER DAY</p>
        <h4 class="text-base font-bold tracking-tight">Stock Market</h4>
      </div>
      
      <div class="block my-auto">
        <div class="relative mb-3">
          <div class="block w-[6px] h-[105px] bg-textcolor mx-auto"></div>
          <div class="block w-[24px] h-[57px] bg-[#EA3382] absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"></div>
        </div>
        <h3 class="text-3xl font-bold tracking-tight mb-1">$700B</h3>
        <p class="text-xs font-normal tracking-widest mb-[-6px]">PER DAY</p>
        <h4 class="text-base font-bold tracking-tight">Bond Market</h4>
      </div>
  
      <div>
        <div class="relative mb-3">
          <div class="block w-[6px] h-[105px] bg-textcolor mx-auto"></div>
          <div class="block w-[24px] h-[57px] bg-[#8335DA] absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"></div>
        </div>
        <h3 class="text-3xl font-bold tracking-tight mb-1">$6T</h3>
        <p class="text-xs font-normal tracking-widest mb-[-6px]">PER DAY</p>
        <h4 class="text-base font-bold tracking-tight">Forex Market</h4>
      </div>
    </div>

  </Content>

  <Content
    items={[
      {
        description: 'Superior Decision Making',
      },
      {
        description: 'Optimal Reward-Risk Ratios',
      },
      {
        description: 'No Emotional Bias',
      },
      {
        description: 'AI Precision',
      },
    ]}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">Trade a portfolio of 70+ currencies in One-Click</h3>
    </Fragment>

    <div class="flex flex-col mx-auto items-center">

      <div class="flex flex-wrap w-full md:w-4/6 gap-x-2 mb-4">
        <div class="mb-2 border rounded py-1 px-2 bg-[#0B0B14] border-[#1C1C24] flex justify-center items-center grow">
          <Icon name="Yen" class="w-5 h-5" />
          <Icon name="Dollar" class="w-5 h-5 ml-[-6px]" />
          <p class="text-sm">USD JPY</p>
        </div>
    
        <div class="mb-2 border rounded py-1 px-2 bg-[#0B0B14] border-[#1C1C24] flex justify-center items-center grow">
          <Icon name="Euro" class="w-5 h-5" />
          <Icon name="Dollar" class="w-5 h-5 ml-[-6px]" />
          <p class="text-sm">EUR USD</p>
        </div>
    
        <div class="basis-full"></div>
    
        <div class="mb-2 border rounded py-1 px-2 bg-[#0B0B14] border-[#1C1C24] flex justify-center items-center grow">
          <Icon name="CanadianDollar" class="w-5 h-5" />
          <Icon name="Dollar" class="w-5 h-5 ml-[-6px]" />
          <p class="text-sm">CAD USD</p>
        </div>
    
        <div class="mb-2 border rounded py-1 px-2 bg-[#0B0B14] border-[#1C1C24] flex justify-center items-center grow">
          <Icon name="CanadianDollar" class="w-5 h-5" />
          <Icon name="Dollar" class="w-5 h-5 ml-[-6px]" />
          <p class="text-sm">CAD USD</p>
        </div>
      </div>

      <div class="p-7 bg-[#0B0B14] border-[#1C1C24] border rounded w-full md:w-4/6"> 
        <div class="flex justify-between mb-3">
          <p>Market EDGE Now</p>
          <div>
            <div class="bg-[#EC458D] relative inline-block py-1 px-2 rounded">
              <p class="z-10">Live</p>
            </div>
          </div>
          
        </div>
    
        <div class="flex justify-between mb-2">
          <p class="text-[#77777B]">EDGE</p>
          <p>2109</p>
        </div>
    
        <div class="flex justify-between mb-2">
          <p class="text-[#77777B]">Avg Win %</p>
          <p>37%</p>
        </div>
    
        <div class="flex justify-between mb-2">
          <p class="text-[#77777B]">Avg Loss %</p>
          <p>27%</p>
        </div>
    
        <div class="flex justify-between mb-2">
          <p class="text-[#77777B]">Avg Win $</p>
          <p>$553</p>
        </div>
    
        <div class="flex justify-between">
          <p class="text-[#77777B]">Avg Loss $</p>
          <p>$153</p>
        </div>
      </div>
  
    </div>

  </Content>
</Layout>
