---
import { SITE } from '~/config.mjs';

import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import TotalObs from '~/components/widgets/TotalObs.astro';
import Pipschart from '~/components/widgets/Pips.jsx';
import EdgeCarousel from '~/components/widgets/EdgeCarousel.jsx';
import VideoSection from '~/components/widgets/VideoSection.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};


---


<Layout {meta}>
  <div class="relative mt-12">
    <div class="mb-24 md:mb-36">
      <Hero>
        <Fragment slot="title">
          Trading is Evolving<br>And the Machines are Winning
        </Fragment>
        <Fragment slot="subtitle">
          We recognize machines are better at trade decision making than humans
        </Fragment>
      </Hero>
    </div>
    <TotalObs></TotalObs>
    <Pipschart client:only></Pipschart>
  </div>  

  <EdgeCarousel client:load></EdgeCarousel>
  <VideoSection
    title="Get to know FinGen";
    content="Fingen, a pioneering platform, revolutionizes the landscape of crypto trading by harnessing cutting-edge Artificial Intelligence (AI). Catering to both seasoned traders and newcomers, Fingen empowers users to make informed decisions in the volatile crypto market. <br><br>By amalgamating intricate data analytics and AI-driven forecasting, Fingen enables investors to strategize effectively, minimize risks, and optimize their crypto trading experiences. With up-to-date information and predictive analytics at their disposal, users can make timely and well-informed decisions, enhancing their chances of success in the dynamic world of cryptocurrency trading.";
    link="dQw4w9WgXcQ";
  ></VideoSection>
 
  <EdgeCarousel client:load></EdgeCarousel>
</Layout>
