---
import Layout from '~/layouts/PageLayout.astro';
import Next from '~/components/widgets/Next.astro';
import MarketEdge from '~/components/widgets/MarketEdge.astro';


const meta = {
  title: "Next",
};
---
<Layout {meta}>

    <div class="relative">
      <h1 class="w-full text-center text-6xl md:text-8xl font-bold py-40 text-transparent bg-clip-text bg-gradient-to-r from-[#4040DC] via-[#7721D6] to-[#EA3382] blur-2xl scale-105">What’s next</h1>
      <h1 class="w-full text-center text-6xl md:text-8xl font-bold py-40 text-transparent bg-clip-text bg-gradient-to-r from-[#4040DC] via-[#7721D6] to-[#EA3382] absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">What’s next</h1>
    </div>
    <!-- <h1 class="w-full text-center text-6xl md:text-8xl font-bold py-40 text-transparent bg-clip-text bg-gradient-to-r from-[#4040DC] via-[#7721D6] to-[#EA3382]">What’s next</h1> -->

    <Next 
    title="Q1 2023"
    subtitle="Pre-Launch Referrals & Rewards program and Early Access program"
    items={[
        {
          description:
            'FREE subscriptions with Referrals',
        },
        {
          description:
            'Collaborate directly with our design team to build the best platform for you',
        },
        {
          description:
            'FREE streaming market intel blog',
        },    
        {
          description:
            'Breaking Pips News feed',
        },    
        {
          description:
            'CIA Factbook Country Macro Data & KPI',
        },    
    ]}

    title2="Q2 2023"
    subtitle2="Portfolio trading in One-Click Real-time Al forex signals Free macro and micro market research"
    items2={[
        {
          description2:
            'Early Access Auction',
        },
        {
          description2:
            'Real-time Research & Currency Profiles',
        },
        {
          description2:
            'Leaderboard, Rangebound, Laggards dashboards',
        },
        {
          description2:
            'Auction winners get access to HIVE signals & One-Click portfolio trading',
        },
      ]}
    >
        <MarketEdge
        items={[
          [
          {
              EDGE: '2109',
              AvgW: '37',
              AvgL: '27',
              AvgWM: '553',
              AvgLM: '153',
          },
          ],
        ]}>
        </MarketEdge>
    </Next>
    <form-widget ucid='3ry7DAh0RnnvdpHLXNtxabNpwlU'></form-widget>
</Layout>