---
import Layout from '~/layouts/PageLayout.astro';
import TotalObs from '~/components/widgets/TotalObs.astro';
import DataTable from '~/components/widgets/DataTable.jsx';
import ExchangeGraph from '~/components/widgets/Exchange.jsx';
import TrendChart from '~/components/widgets/TrendChart.jsx';
import PieChart from '~/components/widgets/PieChart.jsx';
import Globe from '~/components/widgets/Globe.jsx';

const meta = {
  title: "Test",
};
---

<Layout {meta}>

  <section class="md:relative overflow-hidden">
    <TotalObs></TotalObs>

    <div class="w-56 h-56 rounded-full mx-auto my-16 flex items-center justify-center md:absolute md:right-0">
      <Globe client:only></Globe>
    </div>

    <PieChart client:load></PieChart>
    <DataTable client:load></DataTable>

    <div class="md:grid md:grid-cols-2 md:grid-rows-1 md:place-content-center md:w-1/2 md:gap-8 md:ml-16">
      <ExchangeGraph client:load></ExchangeGraph>
      <TrendChart client:load></TrendChart>
    </div>
  </section>
    
</Layout>