---
// import { Image } from 'astro:assets'

import Layout from '~/layouts/PageLayout.astro';

const meta = {
  title: "Test",
};
---

<Layout {meta}>
        
        <div class="w-96 h-96 relative rounded-full bg-[#030092] m-80">
            <div class="w-96 h-96 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 rounded-full bg-[#9E00FF] blur-3xl"></div>
            <div class="w-96 h-96 overflow-hidden relative rounded-full">
                <div class="w-96 h-96 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 rounded-full bg-[#16D5FF] opacity-25 blur-xl"></div>
                <div class="w-80 h-80 absolute rounded-full bg-[#000640] blur-2xl right-5 top-5 scale-125"></div>
                <div class="w-64 h-64 absolute rounded-full bg-[#3244E8] blur-3xl right-1 top-0 scale-110"></div>
                <div class="w-96 h-96 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 rounded-full z-20 border-8 border-[#9E00FF] blur"></div>
                <div class="w-96 h-96 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 rounded-full z-30 border-l-8 rotate-45 border-[#9E00FF] blur-xl scale-95"></div>
                <div class="w-80 h-80 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 rounded-full z-30 border-l-8 rotate-45 border-[#9E00FF] blur-xl scale-110"></div>
                <div class="w-80 h-80 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 rounded-full z-30 border-l-8 rotate-45 border-[#9E00FF] blur-xl scale-110"></div>
                <div class="w-80 h-80 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 rounded-full z-30 border-l-8 rotate-45 border-[#9E00FF] blur-xl scale-105"></div>
                <div class="w-80 h-80 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 rounded-full z-30 border-l-8 rotate-45 border-[#9E00FF] blur-xl "></div>
                <div class="w-80 h-80 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 rounded-full z-30 border-l-8 rotate-45 border-[#9E00FF] blur-xl scale-95 "></div>
            </div>
            
        </div>

        <section id="faq">
          <details class="transition-all duration-500">
            <summary class="cursor-pointer list-none">Section title</summary>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sollicitudin sapien at massa sagittis fringilla. Duis a dolor a mauris dictum venenatis vel et magna. Pellentesque maximus auctor purus vitae pellentesque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras eleifend aliquet blandit. Pellentesque bibendum, nunc eu consequat tempus, ipsum elit dapibus lectus, ut viverra nisi ipsum id nisi.</p>
          </details> 
          <details class="transition-all duration-500">
            <summary class="cursor-pointer list-none">Section title 2</summary>
            <p>2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sollicitudin sapien at massa sagittis fringilla. Duis a dolor a mauris dictum venenatis vel et magna. Pellentesque maximus auctor purus vitae pellentesque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras eleifend aliquet blandit. Pellentesque bibendum, nunc eu consequat tempus, ipsum elit dapibus lectus, ut viverra nisi ipsum id nisi.</p>
          </details> 
        </section>
               
</Layout>

