---
import Layout from '~/layouts/PageLayout.astro';
import TradeButton from '~/components/widgets/TradeButton.astro';
import Listing from '~/components/widgets/Listing.astro';
import TradeHistory from '~/components/widgets/TradeHistory.astro';
import TradeData from '~/components/widgets/TradeData.astro';
import TradeTabs from '~/components/widgets/TradeTabs.astro';
import { Icon } from 'astro-icon';

const meta = {
  title: "Trade",
};
---

<Layout {meta}>
    <TradeTabs />

  <section class="px-4 mx-auto mt-12 lg:px-8 lg:pb-20 max-w-2xl pb-10" id="TradeNow">

    <TradeButton>
    </TradeButton>
    <div class="-translate-y-4">
        <TradeData
      items={[
          [
          {
              EDGE: '3.1',
              AvgW: '2.5',
              AvgL: '2.7',
              AvgWM: '200',
              AvgLM: '102',
          },
          ],
      ]}
      >
    </TradeData>

    <Listing 
        items={[
            [
            {
                currency: 'USD',
                currency2: 'CAD',
                value: '1.35740',
            },
            {
                currency: 'USD',
                currency2: 'CAD',
                value: '1.35740',
            },
            ],
        ]}
        >
    </Listing>

    <button class="w-full max-w-md lg:max-w-lg rounded-lg py-3 bg-[#1C1C24] mx-auto mb-4 flex justify-center items-center px-4 gap-2 text-xl hover:bg-[#31313d] mt-4">
      <Icon name="Ignore" class="w-5 h-5" />
      Ignore
    </button>
    </div>
    
  </section>

    <TradeHistory
    items={[
        [
        {
            currency: 'USD',
            currency2: 'CAD',
            date: 'Jan 6th, 2023',
        },
        {
            currency: 'USD',
            currency2: 'CAD',
            date: 'Jan 6th, 2023',
        },
        {
            currency: 'USD',
            currency2: 'CAD',
            date: 'Jan 6th, 2023',
        },
        {
            currency: 'USD',
            currency2: 'CAD',
            date: 'Jan 6th, 2023',
        },
        {
            currency: 'USD',
            currency2: 'CAD',
            date: 'Jan 6th, 2023',
        },
        {
            currency: 'USD',
            currency2: 'CAD',
            date: 'Jan 6th, 2023',
        },
        {
            currency: 'USD',
            currency2: 'CAD',
            date: 'Jan 6th, 2023',
        },
        {
            currency: 'USD',
            currency2: 'CAD',
            date: 'Jan 6th, 2023',
        },
        {
            currency: 'USD',
            currency2: 'CAD',
            date: 'Jan 6th, 2023',
        },
        ],
    ]}
    >
    <Fragment slot="lasttr">
      Last Transaction 20 January 2022
    </Fragment>
    </TradeHistory>
</Layout>